body{
    margin: 0px;
    background-color: #8f57fd;
    font-family: 'Mulish', sans-serif;
}

header{
    width: 100%;
    height: 80px;
    background-color: #8f57fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.header__logo {
    width: 200px;
    margin-top: 10px;
    margin-left: 10px;
    
}

.header__menu{
    margin-right: 30px;
    
}

.header__menu--profile img{
    margin-right: 10px;
    width: 50px;
    height: 31px;
    border-radius: 50%;
}


.header__menu--profile p{
    margin: 0px;
    
}

.header__menu--profile{
    margin-right: 60px;
    width: 40px;
    display: flex;
    align-items: center;
}
/* --------------creacion lista desplegable---------------- */

.header__menu ul{
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 100px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}

.header__menu li{
    margin: 10px 0px
}


.header__menu li a{
    color: white;
    text-decoration: none;
}

/* se lee de isquierda a derecha como un parentesis */
.header__menu li a:hover{
    
    text-decoration: underline;
}



/* cuando pasemos el mause por ensima del menu y cuando pasemos el mause por ensima de las ul */

.header__menu:hover ul, ul:hover{
    display: block;
}
/* -----------------------buscador-------------------------------------- */
.main{
    height: 300px;
    color: white;
    align-content: center;
    
}

.input{

    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white ;
    border-radius: 30px;
    color: white;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    outline: none;
    height: 50px  ;
    padding: 0px 20px;
    width: 70%;

}

::placeholder{
    color: white;
}

